@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
/* body的背景色、字体】弹性盒子居中布局等 */
body {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}
/* box的背景色、字体颜色弹性盒子居中、宽高、外边距、圆角、阴影效果等 */
.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
/* :nth-of-type伪类移出去 */
.box:nth-of-type(even) {
  transform: translateX(-400%);
}
/* 展示出来 */
.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
